/* p: {
  background: 'green',
  width: '100%',
  fontSize: '100%',
  minHeight: "20px",
  padding: "20px",
  fontSize: "20px",
}


div: {
  width: "300px",
  margin: "10px auto",
  border: "1px solid black",
}, */

.font-preview-container {
  /* background color set in FontPreview.js */
  min-width: 500px;
  width: 80vw;
  margin: 20px auto;
  border: 3px solid black;
  height: auto;

}

.font-preview-text {
  min-height: 10px;
  height: auto;
  padding: 20px;
  font-size: 120px;
  text-align: center;
  overflow: scroll;


  /* text-shadow:
  -4px -4px 0 #000,
   4px -4px 0 #000,
   -4px 4px 0 #000,
    4px 4px 0 #000; */

    /* text-shadow:
      rgb(43, 191, 255) 1px 0px 0px,
      rgb(43, 191, 255) 0.540302px 0.841471px 0px,
      rgb(43, 191, 255) -0.416147px 0.909297px 0px,
      rgb(43, 191, 255) -0.989992px 0.14112px 0px,
      rgb(43, 191, 255) -0.653644px -0.756802px 0px,
      rgb(43, 191, 255) 0.283662px -0.958924px 0px,
      rgb(43, 191, 255) 0.96017px -0.279415px 0px; */

      /* text-shadow:
        rgb(43, 191, 255) 2px 0px 0px,
        rgb(43, 191, 255) 1.75517px 0.958851px 0px,
        rgb(43, 191, 255) 1.0806px 1.68294px 0px,
        rgb(43, 191, 255) 0.141474px 1.99499px 0px,
        rgb(43, 191, 255) -0.832294px 1.81859px 0px,
        rgb(43, 191, 255) -1.60229px 1.19694px 0px,
        rgb(43, 191, 255) -1.97998px 0.28224px 0px,
        rgb(43, 191, 255) -1.87291px -0.701566px 0px,
        rgb(43, 191, 255) -1.30729px -1.5136px 0px,
        rgb(43, 191, 255) -0.421592px -1.95506px 0px,
        rgb(43, 191, 255) 0.567324px -1.91785px 0px,
        rgb(43, 191, 255) 1.41734px -1.41108px 0px,
        rgb(43, 191, 255) 1.92034px -0.558831px 0px; */
}


#place-name {
  position: absolute;
  visibility: hidden;
}
.font-preview-options {
  background: #eee;
}






canvas {
  margin: 0 auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
